.blog-page {
    font-family: Arial, sans-serif;
}

.background-image {
    height: 400px; 
    background-size: cover;
    background-position: center;
    position: relative;
}

.detail-box {
    left: 10%;
    width: 80%;
    position: absolute;
    height: 100;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    top:15rem ;
}

.detail-box h1 {
    font-weight: bold;
    margin-bottom: 10px;
    font-style: italic;
}

.detail-box p {
    font-size: 1.2em;
    font-style: italic;
}

.detail-box hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}


.article-content {
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
    text-align: left;
    font-size: medium;
    text-indent: 5%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
  }
  
  .news-picture-blog {
    width: 60%;
    height: auto;
  }
  